/**
*  Mise en page général avec display:grid
*/

.site__header {
  grid-area: header;
  padding: 1rem clamp(1rem, 3vw, 20rem);
  background-color: white;
  @media screen and (min-width: $largeur__bureau) {
    box-shadow: 0rem 0rem 1rem 0rem;
    margin: 0 auto 3rem auto;
    width: 80vw;
  }
}

.site__main {
  grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.site__footer {
  grid-area: footer;
  background-color: rgba(35, 156, 104, 0.548);
}
.site__aside {
  grid-area: aside;
  background-color: rgba(103, 236, 178, 0.657);
}

.site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
  // row-gap: 50px;
  background-color: antiquewhite;
  @media screen and (min-width: $largeur__bureau) {
      grid-template-columns: 20% auto;
      grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
  }
}
.no-aside {
  grid-template-areas:
  "header"
  "main"
  "footer";
  @media screen and (min-width: $largeur__bureau) {
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
}