
.blocflex {
  display : flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*
.blocflex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // Cette déclaration sera meilleur quand min() sera mieux supporté
  // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  gap: 2rem;
  margin: 2rem;
}
*/

.blocflex__article {
display: flex;
flex : 1 0 300px;
flex-direction: column;
justify-content: space-between;
align-items: center;
text-align: center;
border: 1px solid rgb(76, 135, 104);
padding: 1rem;
margin: 1rem;
background-color: white;
box-shadow: 0px 2px 4px 0px;
h3,h5,h6,p {
  margin:0;
  padding:0;
}
}

.blocflex__galerie {
 flex: 1 0 100%;
}
.article_flex{
  overflow-x: hidden;
}
.article_titre_flex{
  display: flex;
  justify-content: center;
}
.article_contenu_flex{
  word-wrap:break-word;
  width: 90%;
  margin: 0 auto;
}

  .titre__centre{
    text-align: center;
  }

