.menu-evenement-container,
.menu-bloc-archive-container{ // nav
    .menu {//ul
        display: flex;
        justify-content: center;
        padding: 0;
        .menu-item { //li
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            border : 3px solid #aaa;
            background-color: rgba(255, 255,255, .5);
            //height : 100px;
            margin : 10px;
            padding : 5px;
            a {
                display : flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;

               
                .title {
                    display : block;
                    font-size: 2rem;
                }
                .description{
                    font-size: 1rem
                }
                .menu-thumbnail{
                    display : block;
                    width : 150px;
                    height: 150px;
                }
            }

        }
    }
}

.menu-bloc-archive-container .menu .menu-item {
        background-repeat: no-repeat;
        background-size: 60px;
        display: block;
}


.bloc__cours  {
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=mortar-board-bold');

}

.bloc__4w4 {
    background-image: url('https://s2.svgbox.net/hero-solid.svg?ic=library');
  
}