$footer-bg-color: #cff5d8;
$footer-text-color: #000000;
$footer-link-color: #1e1e1e;
$footer-link-hover-color: #bfbfbf;
$footer-heading-color: #5ca45a;
$footer-border-color: #bfbfbf;

footer {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $largeur__bureau) {
    flex-direction: row;
  }
  .container-logo-footer{
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  .container-footer {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    @media screen and (min-width: $largeur__bureau) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
    }

    .liens-footer, .reseaux-sociaux-footer, .informations-footer {
      flex: 1 1;
      padding-left: 2rem;
      @media screen and (min-width: $largeur__bureau) {
        margin: 0 auto;
      }
      h3 {
        color: $footer-heading-color;
        font-size: 1.5rem;
        margin-bottom: 20px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        align-content: center;

        li {
          margin-bottom: 10px;

          a {
            color: $footer-link-color;
            text-decoration: none;

            &:hover {
              color: $footer-link-hover-color;
            }
          }
        }
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
  .reseaux-sociaux-footer{
    ul{
      display: flex;
      justify-content: space-between;
      width: 40%;
    }
  }

  &::before {
    content: '';
    display: block;
    height: 1px;
    background-color: $footer-border-color;
    margin: 30px 0;
  }
}
.Footer_1{
  display: flex;
}
