
.site__header{
    h1{
        margin-bottom: 0;
        font-size: clamp(1rem, -0.0563rem + 3.3803vw, 4rem);
        a{
            text-decoration: none;
        }
    }
    h2{
        margin: 0 0 5% 0;
    }
}
.site__header__logo{
    display: flex;
    justify-content: space-evenly;
    a{
        font-size: clamp(1rem, 0.6479rem + 1.1268vw, 2rem);
        text-decoration: none;
    }
}
/*----------------Menu entete------------------*/
.menu-entete-container{//nav
    display: flex;
    align-content: center;
    .menu{
        //ul
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    .menu-item{
        //li
        color: rgb(180, 70, 145);
        display: flex;
        align-self: center;
        a{
            display: block;
            padding: 5px 20px;
        }
    }
}