
.site__header{
    
}
.site__header__logo{
    display: flex;
    justify-content: space-evenly;
    a{
        font-size: 200%;
        text-decoration: none;
    }
}
.menu-entete-container{

    .menu{
        //ul
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    .menu-item{
        //li
        color: rgb(180, 70, 145);
        a{
            display: block;
            padding: 5px 20px;
        }
    }
}