
.site__header{
    h1{
        margin-bottom: 0;
        font-size: 400%;
        a{
            text-decoration: none;
        }
    }
    h2{
        margin: 0 0 5% 0;
    }
}
.site__header__logo{
    display: flex;
    justify-content: space-evenly;
    a{
        font-size: 200%;
        text-decoration: none;
    }
}
/*----------------Menu entete------------------*/
.menu-entete-container{//nav
    display: flex;
    align-content: center;
    .menu{
        //ul
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    .menu-item{
        //li
        color: rgb(180, 70, 145);
        display: flex;
        align-self: center;
        a{
            display: block;
            padding: 5px 20px;
        }
    }
}